.body {
  opacity: 0.9; }

.landing h2 {
  margin-top: 8%;
  margin-bottom: 5%;
  color: white;
  font-weight: 100;
  font-size: 32px;
  text-align: center; }

.container {
  height: 100%; }

.login-register {
  text-align: center;
  width: 300px; }
