body, html {
  height: 100%; }

html {
  overflow-y: scroll; }

body {
  padding-top: 70px;
  background: url(../images/elixir_kraked.jpg) no-repeat center center fixed;
  background-size: cover;
  font-weight: 200; }

#navbar,
.footer {
  opacity: 0.9; }

.navbar-fixed-top {
  border-width: 0; }

.dark-green {
  color: #8cc152; }

.container {
  min-height: 100%; }

.user-show {
  max-width: 440px; }

.label a {
  color: inherit; }

.modal-show-user .modal-dialog {
  width: 350px; }

.target {
  height: 120px;
  vertical-align: middle; }

.target span {
  margin: 30px 0 0 20px; }

.page-title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  text-shadow: 2px 2px 2px white; }

.date-n-host {
  margin-top: 5px; }

.event-new .panel:first-child {
  border-radius: 0;
  border-top: 1px solid #e6e9ed; }
.event-new .twitter-typeahead {
  width: 100%; }
.event-new .btn-next {
  margin-top: 10px; }

.event-index .panel-body {
  background-color: #f1f2f6; }
.event-index .elem h3 {
  font-size: 14px; }
.event-index .elem p {
  font-size: 12px; }
.event-index .elem .carousel-inner .item {
  height: 170px; }
.event-index .elem .label {
  font-weight: normal;
  padding: 0.3em 0.6em 0.3em; }

.footer-custom {
  margin-top: 10px;
  background-color: #333333; }
  .footer-custom a {
    color: #8c8c8c; }

.filter-bar .col-md-3,
.filter-bar .col-md-9 {
  margin-bottom: 10px; }

.dest-active-filters {
  padding-left: 0px;
  padding-right: 0px; }
  .dest-active-filters .progress {
    height: 10px; }

.active-filters-content {
  margin-bottom: 10px; }
  .active-filters-content .badge {
    margin-top: 2px; }
  .active-filters-content .btn,
  .active-filters-content .badge,
  .active-filters-content .glyphicon {
    font-size: 10px;
    font-weight: 400; }
  .active-filters-content .glyphicon {
    top: 2px; }

.event-index-map h2 {
  margin-top: 0px; }

#map {
  height: 300px;
  margin-top: 10px; }

.event-show .list-group-item:first-child {
  border-top: none; }

.event-show p {
  font-weight: 200; }
.event-show h4 {
  margin-bottom: 10px; }
  .event-show h4 a {
    font-size: 10px; }
  .event-show h4 .tooltip {
    font-size: 10px; }

.profile h4, .profile p, .profile a, .profile label,
.event-show h4,
.event-show p,
.event-show a,
.event-show label {
  font-size: 13px; }
.profile p, .profile a, .profile label,
.event-show p,
.event-show a,
.event-show label {
  font-weight: 200; }
.profile .col-md-4:nth-child(2),
.event-show .col-md-4:nth-child(2) {
  border-right: 1px dotted #999999;
  border-left: 1px dotted #999999; }
.profile .panel-footer-ind,
.event-show .panel-footer-ind {
  padding: 10px;
  text-align: center;
  padding-top: 10px;
  border-top: 1px dotted #999999; }
  .profile .panel-footer-ind a,
  .event-show .panel-footer-ind a {
    display: inline-block; }
.profile h4,
.event-show h4 {
  color: #777777;
  margin-top: 0px; }

.profile .submit .col-md-12 {
  text-align: center;
  padding: 10px; }
.profile label {
  color: #777777; }
.profile input {
  font-size: 13px; }
.profile .form-group {
  margin-bottom: 5px; }

.myevents .panel-title a:hover {
  color: white; }

.myevents-actions {
  padding-top: 10px; }

.panel-title {
  font-size: 13px;
  font-weight: 400; }

.notification-index li {
  font-weight: 200;
  font-size: 13px; }
.notification-index h4 {
  font-size: 13px; }
.notification-index .list-group-item {
  padding: 5px 15px;
  color: #434a54; }
  .notification-index .list-group-item i {
    font-size: 18px; }

.map-dest {
  height: 300px; }

.address-info {
  margin-top: 10px; }

.help-block {
  margin-bottom: 5px;
  font-size: 11px;
  font-weight: 200;
  color: #aab2bd; }

.text-bordered {
  border: 1px dotted #aab2bd;
  padding: 5px 13px;
  border-radius: 2px; }

.address-result {
  padding-left: 15px; }
  .address-result p {
    font-size: 20px;
    font-weight: 200; }

.social-media-buttons img {
  height: 48px; }

.img-profile {
  height: 32px;
  margin-top: 9px; }

.alert-info-ind a {
  font-size: 11px;
  font-weight: 400; }

.modal-ind .modal-dialog {
  margin-top: 10%; }
.modal-ind .modal-content {
  border-radius: 4px; }
.modal-ind .alert {
  margin-top: 0;
  margin-bottom: 0; }
.modal-ind .text-warning {
  margin-top: 4px;
  font-size: 12px; }

.text-input-error {
  font-size: 12px; }

.bootstrap-datetimepicker-widget {
  border: 1px solid #cccccc;
  background-color: white; }
  .bootstrap-datetimepicker-widget li a {
    color: #434a54;
    background-color: white;
    border: none; }
    .bootstrap-datetimepicker-widget li a:hover {
      background-color: white;
      color: #a0d468; }
  .bootstrap-datetimepicker-widget td.active,
  .bootstrap-datetimepicker-widget td.active:hover {
    color: white;
    background-color: #a0d468; }
  .bootstrap-datetimepicker-widget .btn-primary,
  .bootstrap-datetimepicker-widget .btn-primary:active,
  .bootstrap-datetimepicker-widget .btn-primary.active,
  .bootstrap-datetimepicker-widget .btn-primary.disabled,
  .bootstrap-datetimepicker-widget .btn-primary[disabled] {
    background-color: #a0d468;
    border-color: #a0d468; }

.dest-date {
  font-weight: bold; }

.dest-datetime-rem {
  font-size: 16px; }
