// ELEMENTS
body, html
	height: 100%
html
	overflow-y: scroll
body
	padding-top: 70px
	background: url(../images/elixir_kraked.jpg) no-repeat center center fixed
	background-size: cover
	opacity: 0.95
	font-weight: 200

// COLORS
.dark-green
	color: #8CC152

// CLASS
.container
	min-height: 100%
.alert
	margin-top: 20px

.user-show
	max-width: 440px

.label
	a
		color: inherit

.modal-show-user
	.modal-dialog
		width: 350px

.target
	height: 120px
	vertical-align: middle
.target span
	margin: 30px 0 0 20px

.page-title
	margin-top: 0px
	margin-bottom: 20px
	font-weight: 700
	font-size: 18px
	text-shadow: 2px 2px 2px rgba(255,255,255,1)

.date-n-host
	margin-top: 5px
.event-new
	.panel:first-child
		border-radius: 0
		border-top: 1px solid #e6e9ed
	.twitter-typeahead
		width: 100%
	.btn-next	
		margin-top: 10px
.event-index
	.panel-body
		background-color: #F1F2F6		 		
	.elem
		h3
			font-size: 14px
		p
			font-size: 12px
		.carousel-inner
			.item
				height: 170px
		.label
			font-weight: normal
			padding: 0.3em .6em .3em

.footer-custom
	margin-top: 10px
	background-color: #333
	a
		color: #8c8c8c

.bootstrap-datetimepicker-widget
	background-color: inherit

.filter-bar .col-md-3,
.filter-bar .col-md-9
	margin-bottom: 10px

.dest-active-filters
	padding-left: 0px
	padding-right: 0px
	.progress
		height: 10px

.active-filters-content
	margin-bottom: 10px
	.badge
		margin-top: 2px
	.btn,
	.badge,
	.glyphicon 
		font-size: 10px
		font-weight: 400
	.glyphicon
		top: 2px

.event-index-map
	h2
		margin-top: 0px
#map
	height: 300px	
	margin-top: 10px
.event-show .list-group-item:first-child 
	border-top: none

.event-show 	
	p	
		font-weight: 200	
	h4
		margin-bottom: 10px

.profile,
.event-show
	h4, p, a, label
		font-size: 13px
	p, a, label	
		font-weight: 200
	.col-md-4:nth-child(2)
		border-right: 1px dotted #999
		border-left: 1px dotted #999	
	.panel-footer-ind
		padding: 10px
		text-align: center
		padding-top: 10px
		border-top: 1px dotted #999
		a
			display: inline-block
	h4
		color: #777
		margin-top: 0px

.profile
	.submit
		.col-md-12
			text-align: center
			padding: 10px
	label
		color: #777
	input
		font-size: 13px
	.form-group
		margin-bottom: 5px
.myevents		
	.panel-title
		a:hover
			color: white
.myevents-actions
	padding-top: 10px

.panel-title
	font-size: 13px
	font-weight: 400

.notification-index	
	li
		font-weight: 200
		font-size: 13px
	h4	
		font-size: 13px
	.list-group-item
		padding: 5px 15px
		color: #434a54
		i
			font-size: 18px
.map-dest
	height: 300px

.address-info
	margin-top: 10px

.help-block	
	margin-left: 13px
	margin-bottom: 5px
	font-size: 11px
	font-weight: 200
	color: #656D78

.input-address-name
	margin-bottom: 20px

.address-result
	margin-top: 20px
	p
		font-size: 20px
		font-weight: 200
		margin: 0 10px
